# XIndia Web Portal (Next.js) Environment Variables
NEXT_PUBLIC_SITE_URL=https://xindia.live
NEXT_PUBLIC_API_URL=https://ascend-ds0q.onrender.com
REVALIDATE_SECRET=e58730c4705644ffe50b846c70d8a3e37a04b75f5c7edc82
